h2 {
    color: #00335F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  p {
    color: #00335F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
  }
  

