/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1 {
  color: cadetblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 250%;
  padding-top: 5%;
  padding-bottom: 16%;
  background-image: url('./assets/skyline.png');
  background-repeat: no-repeat;
  background-position: center;
}

h2,
h3 {
  color: rgb(65, 59, 59);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[text],
button {
  color: cadetblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* everywhere else */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  /* border-color: black; */
}

div.container {
  overflow: hidden;
}

div.container main {
  float: right;
  margin: 0 1.5%;
  width: 63%;
}

div.container aside {
  float: left;
  /* margin: 0 1.5%; */
  width: 5%;
}
